@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;800&display=swap');

body {
      font-family: 'Raleway', sans-serif;
      color: #4f4f4f;
      font-size: 30px;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;

  width: 1100px;
  margin: auto;

  grid-template-columns: 2fr 0.8fr;
  grid-template-rows: 400px 50px auto;

  grid-template-areas:
    " Data Photo"
    " MainNavigation PhotoNavigation "
    " Content Content ";
}

.header {
  grid-area: Header;
  background-color: #2b2b2b;
}

.headerText {
  color: #ededed;
  font-size: 80px;
  text-align: center;
  margin-top: 20px;
}

.photo {
  grid-area: Photo;
  background-color: green;
}

.data {
  grid-area: Data;
  background-color: orange;
}

.mainNavigation {
  grid-area: MainNavigation;
  background-color: pink;

}

.photoNavigation {
  grid-area: PhotoNavigation;
  background-color: red;

}

.content {
  grid-area: Content;
  background-color: gray;
}
